In [13]:
""" 
1
22
333
4444
55555"""


n=6
for i in range(n):
    val=i
    for j in range(i):
        print(val,end="")
    print()

1
22
333
4444
55555

In [25]:
""" 
1
10
101
1010
10101
"""
n=6
for i in range(n):
    for j in range(i):
        if j%2==0:
            print("1",end="")
        else:
            print("0",end="")
    print()

1
10
101
1010
10101

In [18]:
"""
        *
       * *    
      * * *  
     * * * * 
    * * * * *
     
     """
n=6
for i in range(1,n):
    for space in range(n-i):
        print(" ",end="")
    for star in range(i):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [19]:
n=6
for i in range(n-1,-1,-1):
    for space in range(n-i):
        print(" ",end="")
    for star in range(i):
        print("*",end=" ")
    print()

 * * * * *
  * * * *
   * * *
    * *
     *

In [22]:
"""
1
12
123
1234
12345
"""
n=6
for i in range(1,n):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [33]:
"""num=123
o/p=6"""
num=1234
sum=0
for i in range(len(str(num))):
    Q=num//10
    Q=Q%10
    sum+=Q
print( sum )

12

In [48]:
"""
A
AB
ABC
ABCD
ABCDE""" 
n=6
for i in range(n):
    for j in range(i):
        print(chr(j+65),end="")
    print()

A
AB
ABC
ABCD
ABCDE

In [56]:
n=6
for i in range(n-1,-1,-1):
    for space in range(n-i):
        print(" ",end=" ")
    for star in range(2*i-1):
        print("*",end=" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [57]:
n=6
for i in range(n):
    for space in range(n-i):
        print(" ",end=" ")
    for star in range(2*i-1):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [73]:
n=6
num=1
for i in range(n):
    for j in range(i):
        print(num,end=" ")
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [85]:
n=4
for i in range(n+1):
    for space in range(n-i):
        print(" ",end=" ")
    for star in range(2*i-1):
        print("*",end=" ")
    print()
for i in range(n-1,-1,-1):
    for space in range(n-i):
        print(" ",end=" ")
    for star in range(2*i-1):
        print("*",end=" ")
    print()

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *